<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-white" href="#">ChartJS</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Gráficos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Adicionar Dados</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row mt-perc">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" [ngClass]="{'active': getTypeChart() === 'bar'}" (click)="onClick('bar')">Barra</a>
        <a class="nav-link" [ngClass]="{'active': getTypeChart() === 'line'}" (click)="onClick('line')">Linha</a>
        <a class="nav-link" [ngClass]="{'active': getTypeChart() === 'pie'}" (click)="onClick('pie')">Pizza</a>
        <a class="nav-link" [ngClass]="{'active': getTypeChart() === 'polarArea'}" (click)="onClick('polarArea')">Area</a>
      </div>
    </div>

    <div class="col-9">
      <app-charts [type]="_typeChart"></app-charts>
    </div>
  </div>
</section>